<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board-Mapper">
	
	<!-- 전체 조회 -->
	<select id="selectBoardCriteria" resultType="board">
		select *
		from board
		where writer is not null
		<include refid="search" />
		order by regDate desc
	</select>
	
	<!-- 검색 결과 개수 -->
	<select id="selectBoardCriteriaTotalCount" resultType="int">
		select count(*)
		from board
		where writer is not null
		<include refid="search" />
		order by regDate desc
	</select>
	
	<!-- 검색 (tcw:전체 추가해야함)-->
	<sql id="search">
		<if test="searchType == 't'.toString()">
			and title like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'w'.toString()">
			and writer like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'c'.toString()">
			and content like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'tc'.toString()">
			and title, content like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'cw'.toString()">
			and content, writer like '%'||#{keyword}||'%'
		</if>
	</sql>
	
	<select id="selectBoardByBno" parameterType="int" resultType="board">
		select *
		from board
		where bno=#{bno}
	</select>
	
	<update id="insertBoard" parameterType="board">
		insert into
		member(bno, title, writer, content, viewcnt, regdate, updatedate)
		values (board_seq.nextval, #{title}, #{writer}, #{content}, sysdate, sysdate)
	</update>
	
	<update id="updateBoard" parameterType="board">
		update board
		set
		title=#{title}, content=#{content}, updatedate=sysdate
		where bno=#{bno}
	</update>
	
	<update id="deleteBoard" parameterType="int">
		delete
		from board
		where bno=#{bno}
	</update>
	
	<update id="increaseViewCnt" parameterType="int">
		update board
		set viewcnt+=1
		where bno=#{bno}
	</update>
	
</mapper>	